<?xml version="1.0"?>
<robot name="table">
    
    <!-- Tabletop -->
    <link name="tabletop">
        <visual>
            <geometry><box size="1 1 0.1"/></geometry>
            <material name="brown">
                <color rgba="0.545 0.271 0.075 1"/>
            </material>
        </visual>
        <collision><geometry><box size="1 1 0.1"/></geometry></collision>
        <inertial><mass value="50"/><inertia ixx="1" iyy="1" izz="1"/></inertial>
    </link>

    <!-- Legs -->
    <link name="leg1">
        <visual><geometry><box size="0.1 0.1 0.6"/></geometry></visual>
        <collision><geometry><box size="0.1 0.1 0.6"/></geometry></collision>
    </link>
    <joint name="leg1_joint" type="fixed">
        <parent link="tabletop"/>
        <child link="leg1"/>
        <origin xyz="-0.45 -0.45 -0.35"/>
    </joint>

    <link name="leg2">
        <visual><geometry><box size="0.1 0.1 0.6"/></geometry></visual>
        <collision><geometry><box size="0.1 0.1 0.6"/></geometry></collision>
    </link>
    <joint name="leg2_joint" type="fixed">
        <parent link="tabletop"/>
        <child link="leg2"/>
        <origin xyz="0.45 -0.45 -0.35"/>
    </joint>

    <link name="leg3">
        <visual><geometry><box size="0.1 0.1 0.6"/></geometry></visual>
        <collision><geometry><box size="0.1 0.1 0.6"/></geometry></collision>
    </link>
    <joint name="leg3_joint" type="fixed">
        <parent link="tabletop"/>
        <child link="leg3"/>
        <origin xyz="-0.45 0.45 -0.35"/>
    </joint>

    <link name="leg4">
        <visual><geometry><box size="0.1 0.1 0.6"/></geometry></visual>
        <collision><geometry><box size="0.1 0.1 0.6"/></geometry></collision>
    </link>
    <joint name="leg4_joint" type="fixed">
        <parent link="tabletop"/>
        <child link="leg4"/>
        <origin xyz="0.45 0.45 -0.35"/>
    </joint>

</robot>
